body{
	background-color: gray;
}
.syntax{
	color:black;
}
textarea{
	width:500px;
	height:100;
}
h1{
	font-family: fantasy;
	font-size: 55;
}
h3{
	font-style: italic;
}
.thatswhy{
	font-family: Arial;
}
.example{
	font-size: 25px;
}
.titles{
	font-size: 50px;
	padding-bottom: 0px;
}
.syntax{
	padding-top: 0px;
	font-size: 20;
}