<!Doctype html/>
<html>
<head>
<title>How to use some Underscore</title>
<link rel="stylesheet" type="text/css" href="../css/tut.css">
</head>
<body>
	<div id='app'>

	</div>
	
</body>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../js/underscore.js" type="text/javascript" charset="utf-8"></script>
<script src="../lib/text.js" type="text/javascript" charset="utf-8"></script>
<script src="../lib/ust.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	UTUT();
</script>

</html>